body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    border: 10px solid red;
    border-radius: 5px;
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    flex: 1 1;
    margin: 0;
    height: 5px;
    justify-content: stretch;
}

.pixel {
    flex: 1 1;
    background-color: white;
    border: 1px solid black;
    margin: 0;
}